apiVersion: v1
kind: Service
metadata:
  name: "{{ name }}"
  namespace: "{{ namespace }}"
spec:
  type: ClusterIP
  ports:
    - port: 8080
      name: http
      targetPort: http
  selector:
    app: "{{ name }}"
